[submodule "build-mac/libetpan"]
	path = build-mac/libetpan
	url = https://github.com/canarymail/libetpan.git
[submodule "build-mac/ctemplate"]
	path = build-mac/ctemplate
	url = https://github.com/canarymail/ctemplate.git
[submodule "ctemplate"]
	url = https://github.com/canarymail/ctemplate.git
[submodule "build-mac/tidy-html5"]
	path = build-mac/tidy-html5
	url = https://github.com/canarymail/tidy-html5.git
